
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sdf
*.opensdf
[Bb]in
[Dd]ebug*/
ipch
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
!asstes/*.obj
[Tt]est[Rr]esult*
#kate files
#.kateproject
#.kateproject.d
#cmake files
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt


